@import models.{ShowSummary, EpisodeSummary, SeasonSummary}

@(seriesSummary: ShowSummary, seasons: Seq[SeasonSummary])

@main("Eyepatch") {
    <h1>@seriesSummary.seriesName</h1>
    @for(season <- seasons.reverse) {
        <table class="table">
            <tr>
                <td>
                    <h4>Season @season.seasonNumber</h4>
                    <table class ="table table-striped">
                    @for(episode <- season.episodes.reverse) {
                        <tr>
                            <td>@episode.map(_.episodeNumber).getOrElse("UNKNOWN")</td>
                            <td>@episode.map(_.episodeName).getOrElse("UNKNOWN")</td>
                            <td>@episode.map(_.airDate).getOrElse("UNKNOWN")</td>
                        </tr>
                    }
                    </table>
                </td>
            </tr>
        </table>
    }
}